.firstDiv{
  color: blue;
}

.secondDiv{
  background-color: gray;
}

/* Use an id to single out html elements*/

/* id selectors use a hashtag # */
#singledout{
  color: red;
  text-decoration: underline;
}
